
<div class="col-sm-3 col-md-3 sidebar">
  <nav class="left-nav affix">
    <ul>
      <% @vent_types.each do |vent_type| %>
      <li><a href="/?vent_type_id=<%= vent_type.id %>"><%= vent_type.name%></a></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="col-sm-9 col-md-6">

  <h4>Edit your vent</h4>
  <form class="vent-form" action="/<%= @vent.id %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <textarea class="form-control" name="vent_body" rows="4" id="textarea1" maxlength="139"><%= @vent.body %></textarea>
    <select name="vent_type_id" id="">
      <% @vent_types.each do |vent_type| %>
        <% if vent_type.id == @vent.vent_type.id %>
          <option selected value="<%= vent_type.id %>"><%= vent_type.name %></option>
        <% else %>
          <option value="<%= vent_type.id %>"><%= vent_type.name %></option>
        <% end %>
      <% end %>
    </select>
    <p class="char-track">character left: <span id="char-num"></span></p>
    <button class="btn btn-default vent-post-btn" id="post-btn1">update</button>
  </form>

  <form class="text-right" action="/<%= @vent.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">delete</button>
  </form>

  <h4>Comments</h4>
  <% @comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"><%= comment.user.username %> <small><i class="fa fa-calendar-o"></i> <%= comment.creation_date_time || '' %></small></h5>
      </div>
      <div class="panel-body">
        <p><%= comment.body %></p>
      </div>
    </div>
  <% end %>

</div>

<div class="col-md-3">

</div>
