<h2>index</h2>

<% if logged_in? %>
  <form action="/" method="post">
    <textarea name="vent_body" rows="8" cols="40"></textarea>
    <select name="vent_type_id" id="">
      <% @vent_types.each do |vent_type| %>
        <option value="<%= vent_type.id %>"><%= vent_type.name %></option>
      <% end %>
    </select>
    <button>vent</button>
  </form>
<% end %>


<% @vents.each do |vent| %>
  <h4><%= vent.user.username %> <small><%= vent.creation_date_time || '' %> - <%= vent.vent_type.name.capitalize %></small></h4>
  <a href="/<%= vent.id %>"><p><%= vent.body %></a></p>
  <button><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
  <button>I feel you</button>
  <button>Toughen up!</button>
  <% if current_user.id == vent.user.id %>
    <a href="/edit_vent/<%= vent.id %>"><button>edit</button></a>
  <% end %>
<% end %>
