
<div class="container">

  <div class="row">

    <div class="col-md-3">

      <nav class="left-nav affix">
        <ul>
          <% @vent_types.each do |vent_type| %>
          <li><a href="/?vent_type_id=<%= vent_type.id %>"><%= vent_type.name%></a></li>
          <% end %>
        </ul>
      </nav>

    </div>

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title"><%= @vent.user.username %> <small><%= @vent.creation_date_time || '' %> - <%= @vent.vent_type.name.capitalize %></small></h4>
        </div>

        <div class="panel-body">
          <a href="/<%= @vent.id %>"><%= @vent.body %></a>
        </div>

        <div class="panel-footer">
          <button class="btn btn-primary btn-xs"><i class="fa fa-comment-o" aria-hidden="true"></i> Comment | <%= Comment.where(vent_id: @vent.id).count%></button>
          <form action="/agree/<%= @vent.id %>" method="post">
            <button class="btn btn-success btn-xs">I feel you | <%= Agree.where(vent_id: @vent.id).count %></button>
          </form>
          <form action="/disagree/<%= @vent.id %>" method="post">
            <button class="btn btn-warning btn-xs">Toughen up! | <%= Disagree.where(vent_id: @vent.id).count %></button>
          </form>
          <% if logged_in? && current_user.id == @vent.user.id %>
            <a href="/edit_vent/<%= @vent.id %>"><button class="btn btn-default btn-xs">edit</button></a>
          <% end %>
        </div>

      </div>

      <% if logged_in? %>
        <form action="/<%= @vent.id %>" method="post">
          <textarea class="form-control" name="comment_body" rows="4"></textarea>
          <button class="btn btn-default">comment</button>
        </form>
      <% else %>
        <p>Please login to comment or vote</p>
      <% end %>

      <h4>Comments</h4>
      <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title"><%= comment.user.username %> <small><%= comment.creation_date_time || '' %></small></h5>
          </div>
          <div class="panel-body">
            <p><%= comment.body %></p>
          </div>
        </div>
      <% end %>

    </div>

    <div class="col-md-3">

    </div>

  </div>

</div>
