
<div class="row">

  <div class="col-sm-3 col-md-3 sidebar">
    <%= erb(:_side_nav) %>
  </div>

  <div class="col-sm-9 col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title"><%= @vent.user.username %> <small><i class="fa fa-calendar-o"></i> <%= @vent.creation_date_time || '' %> - <i class="fa fa-tag"></i> <%= @vent.vent_type.name.capitalize %></small></h4>
      </div>

      <div class="panel-body">
        <a href="/<%= @vent.id %>"><%= @vent.body %></a>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary btn-xs"><i class="fa fa-comment-o" aria-hidden="true"></i> Comment | <%= Comment.where(vent_id: @vent.id).count%></button>
        <form action="/agree/<%= @vent.id %>" method="post">
          <button class="btn btn-success btn-xs">I hear you | <%= Agree.where(vent_id: @vent.id).count %></button>
        </form>
        <form action="/disagree/<%= @vent.id %>" method="post">
          <button class="btn btn-warning btn-xs">Harden up! | <%= Disagree.where(vent_id: @vent.id).count %></button>
        </form>
        <% if logged_in? && current_user.id == @vent.user.id %>
          <a href="/edit_vent/<%= @vent.id %>"><button class="btn btn-default btn-xs edit-btn"><i class="fa fa-pencil-square-o"></i></button></a>
        <% end %>
      </div>

    </div>

    <h4>Comments</h4>
    <%= erb(:_comments) %>

    <% if logged_in? %>
      <form class="comment-form" action="/<%= @vent.id %>" method="post">
        <textarea class="form-control" name="comment_body" rows="4" placeholder="Enter your comment" id="textarea1" maxlength="139"></textarea>
        <p class="char-track">character left: <span id="char-num"></span></p>
        <button class="btn btn-default comment-post-btn" id="post-btn1">post comment</button>
      </form>
    <% else %>
      <p>Please <a href="/login">login</a> to comment or vote</p>
    <% end %>

  </div>

</div>
